apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
  labels:
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: auth
    app.kubernetes.io/managed-by: kustomize
data:
  PORT: "3000"
  JWT_EXPIRES_IN: "15m"
  JWT_REFRESH_TOKEN_EXPIRES_IN: "7d"
  JWT_REFRESH_TOKEN_ROTATION: "604800000"
  CRYPTO_KEY_LENGTH: "64"
  CRYPTO_SALT_LENGTH: "16"
  REDIRECT_URI: "http://localhost:3000"
  LOG_LEVEL: "info"
  GITHUB_CLIENT_ID: ""
  DISCORD_CLIENT_ID: ""
  USER_SERVICE_URL: "http://auth-service:3000"
  MATCHMAKING_SERVICE_URL: "http://matchmaking-service:3000"
  RABBITMQ_EXCHANGE: "ft-transcendence"
  RABBITMQ_QUEUE_AUTH: "auth-events"
