apiVersion: v1
kind: ConfigMap
metadata:
  name: infrastructure-config
  labels:
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: infrastructure
    app.kubernetes.io/managed-by: kustomize
data:
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_VHOST: "/"
  RABBITMQ_DEFAULT_EXCHANGE: "ft-transcendence"
  REDIS_MAX_CONNECTIONS: "100"
  REDIS_CONNECT_TIMEOUT: "5000"
  REDIS_COMMAND_TIMEOUT: "5000"
  ELASTICSEARCH_HOST: "elasticsearch"
  ELASTICSEARCH_PORT: "9200"
  ELASTICSEARCH_INDEX_PREFIX: "ft-transcendence"
  LOGSTASH_HOST: "logstash"
  LOGSTASH_PORT: "5044"
  KIBANA_HOST: "kibana"
  KIBANA_PORT: "5601"
  PROMETHEUS_HOST: "prometheus"
  PROMETHEUS_PORT: "9090"
  GRAFANA_HOST: "grafana"
  GRAFANA_PORT: "3000"
