apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-base

resources:
  - vault/
  - nginx/
  - rabbitmq/
  - redis/
  - storage/
  - elk/
  - monitoring/
