[submodule "packages/my-react"]
	path = packages/my-react
	url = git@github.com:thetranscendence/my-react.git
	branch = main
[submodule "packages/my-react-router"]
	path = packages/my-react-router
	url = git@github.com:thetranscendence/my-react-router.git
	branch = main
[submodule "packages/my-fastify-decorators"]
	path = packages/my-fastify-decorators
	url = git@github.com:thetranscendence/my-fastify-decorators.git
	branch = main
[submodule "packages/my-class-validator"]
	path = packages/my-class-validator
	url = git@github.com:thetranscendence/my-class-validator.git
	branch = main
[submodule "apps/auth"]
	path = apps/auth
	url = git@github.com:thetranscendence/auth.git
	branch = main
[submodule "apps/matchmaking"]
	path = apps/matchmaking
	url = git@github.com:thetranscendence/matchmaking.git
	branch = main
[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:thetranscendence/infrastructure.git
	branch = main
[submodule "apps/frontend"]
	path = apps/frontend
	url = git@github.com:thetranscendence/front.git
	branch = main
[submodule "apps/chat"]
	path = apps/chat
	url = git@github.com:thetranscendence/rgolfett_chat.git
	branch = main
[submodule "apps/game"]
	path = apps/game
	url = git@github.com:thetranscendence/game_backend.git
[submodule "apps/user"]
	path = apps/user
	url = git@github.com:thetranscendence/profile.git
[submodule "apps/tournament"]
	path = apps/tournament
	url = git@github.com:thetranscendence/tournament.git
	branch = main
[submodule "apps/social_management"]
	path = apps/social_management
	url = git@github.com:thetranscendence/social_management.git
	branch = main


aad3a