apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress-ingress-nginx-controller
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: controller
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '200m'
