apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  labels:
    app: rabbitmq
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: rabbitmq
type: Opaque
stringData:
  username: rabbitmq-prod
  password: ''
  erlang-cookie: ''
# Note: Credentials pour l'environnement de production
# Le mot de passe et l'Erlang cookie DOIVENT être configurés via Vault
# Ne jamais commiter de credentials réels dans Git
# L'Erlang cookie doit être identique pour tous les pods dans le cluster
