apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  labels:
    app: rabbitmq
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: rabbitmq
type: Opaque
stringData:
  username: guest
  password: guest
  erlang-cookie: ''
# Note: Les credentials RabbitMQ sont définis par défaut (guest/guest)
# Pour la production, il faudra créer le secret avec des credentials sécurisés
# via Vault ou un autre système de gestion de secrets
# L'Erlang cookie doit être le même pour tous les pods dans un cluster RabbitMQ
