# Secret RabbitMQ Temporaire (Avant migration Vault)
# Contient les identifiants d'administration et la clé de clustering (Cookie).

# ATTENTION :
# 1. Ce fichier est un 'placeholder' pour le développement local.
# 2. En PROD, il sera remplacé par un 'ExternalSecret' connecté à Vault.

apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  labels:
    app: rabbitmq
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: rabbitmq
type: Opaque
stringData:
  # Identifiant Administrateur
  # Note : Bien que le username soit aussi dans la ConfigMap (pour les clients),
  # il est répété ici pour l'initialisation du serveur RabbitMQ.
  username: guest

  # Mot de passe Administrateur
  # À changer impérativement en Production !
  password: guest
  # Note: Le chart Bitnami attend aussi la clé 'rabbitmq-password'
  rabbitmq-password: guest

  # Cookie Erlang pour le Clustering
  # C'est une clé secrète partagée qui permet aux noeuds RabbitMQ de se faire confiance.
  # Si vide, le clustering ne fonctionnera pas correctement.
  # En Prod, générer une longue chaîne aléatoire.
  # Note: Le chart Bitnami attend la clé 'rabbitmq-erlang-cookie'
  rabbitmq-erlang-cookie: 'secret-cookie-placeholder-changeme'
