@import 'tailwindcss';

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/font/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Pirulen';
	src: url('/font/pirulen/pirulen rg.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'RubikPixels';
	src: url('/font/rubikpixels/RubikPixels-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Aquire';
	src: url('/font/aquire/Aquire.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Aquire';
	src: url('/font/aquire/Aquire-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Aquire';
	src: url('/font/aquire/Aquire-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@theme {
	/* --color-primary: #343b65; */
	--color-primary: #000000;
	--color-primary-transparent: #343b65a1;
	/* --color-primary-dark: #252132; */
	--color-primary-dark: #000000;
	/* --color-secondary: #ffffff; */
	--color-secondary: #ffffff;

	--color-neon-blue: #2cc1c1;
	--color-neon-pink: #ff00ff;

	--font-display: 'Oswald', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;
	--font-pirulen: 'Pirulen', sans-serif;
	--font-aquire: 'Aquire', sans-serif;
	--font-orbitron: 'Orbitron', sans-serif;
	--font-rubikpixels: 'RubikPixels', sans-serif;

	--animate-float: float 3s ease-in-out infinite;

	/* Background Image background.png */

	--background-image: url('./background.png') no-repeat center center fixed;

	@keyframes float {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
	}
}

@utility bg-radial-primary {
	background: radial-gradient(circle, var(--color-primary) 0%, var(--color-primary-dark) 142%);
}

@utility bg-background-image {
	background: var(--background-image);
	background-size: cover;
}

@utility grid-area-button {
	grid-area: button;
}

@layer components {
	/* Chamfer est une class pour avoir des coins cut droit, non obtenable avec border-radius  --cut modifiable via [--cut:<value>px]*/
	.chamfer {
		--cut: 20px;

		clip-path: polygon(
			var(--cut) 0,
			100% 0,
			100% var(--cut),
			100% calc(100% - var(--cut)),
			calc(100% - var(--cut)) 100%,
			var(--cut) 100%,
			0 calc(100% - var(--cut)),
			0 var(--cut)
		);

		transform: translateZ(0);
		/* Améliore la netteté des bords coupés */
		-webkit-font-smoothing: antialiased;
		/* Évite que le fond ne "bave" */
		background-clip: padding-box;
		perspective: 1000px;
	}

	.chamfer-full {
		--cut: 20px;
		clip-path: polygon(
			var(--cut) 0,
			calc(100% - var(--cut)) 0,
			100% var(--cut),
			100% calc(100% - var(--cut)),
			calc(100% - var(--cut)) 100%,
			var(--cut) 100%,
			0 calc(100% - var(--cut)),
			0 var(--cut)
		);
		transform: translateZ(0);
		-webkit-font-smoothing: antialiased;
		background-clip: padding-box;
		perspective: 1000px;
	}
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-mono);
}
