apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: ft-transcendence-base

resources:
  - configmaps/
  - secrets/
  # Vous pouvez importer ces dossiers individuellement dans vos overlays
  # si vous souhaitez séparer le cycle de vie Infra vs Apps
  - infrastructure/
  - applications/
# Note: Les namespaces sont créés dans chaque overlay pour éviter les conflits
