apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kibana-credentials
  namespace: logging
spec:
  secretStoreRef:
    name: vault-backend
    kind: SecretStore

  target:
    # Rename to match what the Elastic Chart expects by default
    name: kibana-kibana-es-token
    creationPolicy: Owner

  data:
    # 1. Encryption Key for Saved Objects (Custom usage via extraEnvs)
    - secretKey: encryption-key
      remoteRef:
        key: secret/shared/kibana
        property: encryption_key

    # 2. Service Account Token
    # Map to 'token' key as expected by the Elastic Chart
    - secretKey: token
      remoteRef:
        key: secret/shared/kibana
        property: service_token
