apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  labels:
    app: rabbitmq
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: rabbitmq
type: Opaque
stringData:
  username: guest
  password: guest
  erlang-cookie: dev-cookie-12345678901234567890
# Note: Credentials par défaut pour l'environnement de développement
# L'Erlang cookie est simple pour le dev (single node)
