apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: redis
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '200m'
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        storageClassName: local-path
        resources:
          requests:
            storage: 5Gi
