apiVersion: v1
kind: ConfigMap
metadata:
  name: modsecurity-config
  labels:
    app: nginx-ingress-controller
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: nginx-ingress-controller
data:
  modsecurity.conf: |
    # ModSecurity Configuration
    SecRuleEngine On
    SecRequestBodyAccess On
    SecResponseBodyAccess On
    SecResponseBodyMimeType text/plain text/html text/xml application/json
    SecResponseBodyLimit 524288
    SecRequestBodyLimit 10485760
    SecRequestBodyNoFilesLimit 131072
    SecRequestBodyLimitAction Reject
    SecPcreMatchLimit 100000
    SecPcreMatchLimitRecursion 100000
    SecUnicodeMapFile unicode.mapping 20127
    SecStatusEngine On
    # OWASP Core Rule Set
    Include /etc/nginx/owasp-modsecurity-crs/crs-setup.conf
    Include /etc/nginx/owasp-modsecurity-crs/rules/*.conf
