apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: nginx
  labels:
    app: nginx-ingress-controller
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: nginx-ingress-controller
spec:
  controller: k8s.io/ingress-nginx
