apiVersion: v1
kind: ServiceAccount
metadata:
  name: nginx-ingress-controller
  labels:
    app: nginx-ingress-controller
    app.kubernetes.io/name: ft-transcendence
    app.kubernetes.io/part-of: ft-transcendence
    app.kubernetes.io/component: nginx-ingress-controller
automountServiceAccountToken: true
