apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-ingress-nginx-controller
data:
  enable-ssl-passthrough: 'false'
  enable-vts-status: 'true'
  use-forwarded-headers: 'true'
  compute-full-forwarded-for: 'true'
  use-proxy-protocol: 'true'
  limit-conn-zone-variable: '$binary_remote_addr'
  limit-req-zone-variable: '$binary_remote_addr'
