apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-ingress-nginx-controller
  annotations:
    service.beta.kubernetes.io/external-traffic: OnlyLocal
    metallb.universe.tf/address-pool: production-pool
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
